.attendees {
	@include clearfix();
	display: flex;
	flex-wrap: wrap;

	.attendee {
		// width: 16.66%;
		// float: left;
		text-align: center;
		background-color: white;
		padding: sizes(6);
		// margin-bottom: sizes(6);
	}

	.see-more {
		border-radius: 8px;
		&:hover {
			color: colors("greyscale", 800);
			cursor: pointer;
		}
	}
}

.company-logo {
	@include circle(60px);
	@include background-image();
	// border-radius: 2px;
	
	position: relative;
	
	// box-shadow: 0 1px 1px rgba(00,00,00,0.15);
	// background-size: 90%;
	margin: 0 auto sizes(3);
	border: 1px solid colors("keyline");

	.logo {
		@include circle(58px);
		@include background-image();
		// background-color: white;
		position: relative;
		z-index: 2;
	}

	.placeholder {
		@include circle(58px);
		content: "";
		background-repeat: no-repeat;
		background-size: 25px;
		background-position: 16px 15px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background-image: url('/public/img/icons/company.png');
	}	
}

.attendee-company-title {
	font-size: 15px;
	text-transform: capitalize;
	margin-bottom: 8px;
}

.attendee-company-name {
	font-size: 13px;
	text-transform: capitalize;
	color: colors("greyscale", 600);
}

.attendees-list {
	@include no-bullet();


	> li {
		border-bottom: 1px solid colors("keyline");
		padding: sizes(3) sizes(5);
	}
}
