.label {
	font-size: 12px;
	font-weight: 500;
	padding: 4px 6px 4px 6px;
	border-radius: 3px;
	// background: red;
	line-height: 1;
	min-width: 50px;
	border: 1px solid;
	display: inline-block;

	&.label-green {
		background-color: colors("secondary");
		color: white;
	}
}