.label {
	font-size: 11px;
	font-weight: 500;
	padding: 4px 6px 4px 6px;
	border-radius: 3px;
	// background: red;
	line-height: 1;
	min-width: 50px;
	border: 1px solid;
	border-color: currentColor;
	display: inline-block;

	&.label-green {
		border-color: rgba(colors("secondary"), 0.4);
		color: colors("secondary");
	}
}