.modal-container {
	position: fixed;
	background: rgba(00,00,00,.6);
	left: 0;
	top: 0;
	width: 100%;
	padding: sizes(2);
	height: 100vh;
	z-index: 9998;
	visibility: hidden;
	opacity: 0;
	transition: all .5s;
	display: flex;
	align-items: center;
	
	&.is-open {
		visibility: visible;
		opacity: 1;
		

		.modal {
			transform: translateY(0);
			transform: scale(1);
		}
	}

	.modal-close {
		position: absolute;
		top: sizes(4);
		right: sizes(4);
	}
}

.modal-close {
	position: absolute;
	right: sizes(3);
	top: sizes(3);
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;

	svg {
		width: 15px;
		height: 15px;
	}
}

.modal {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 3px;
	background: white;
	
	// min-height: 500px;
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
	transition: all .5s;

	transform: scale(0.9);
	
	.modal-body {
		// padding: sizes(10);
		max-height: calc(100vh - 100px);
		overflow-y: scroll;
	}

	.modal-header {
		border-bottom: 1px solid colors("keyline");
		padding-left: sizes(5);
		height: 60px;
		position: relative;
		border-radius: 3px 3px 0 0;
		background-color: colors("greyscale", 200);

		h2 {
			font-size: 18px;
			font-weight: 500;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
			line-height: 1;
		}
	}
}
