.modal-container {
	position: fixed;
	background: rgba(00,00,00,.6);
	left: 0;
	top: 0;
	width: 100%;
	padding: sizes(2);
	height: 100vh;
	z-index: 9998;
	visibility: hidden;
	opacity: 0;
	transition: all .5s;
	display: flex;
	align-items: center;
	
	&.is-open {
		visibility: visible;
		opacity: 1;
		

		.modal {
			transform: translateY(0);
			transform: scale(1);
		}
	}

	.modal-close {
		position: absolute;
		top: sizes(4);
		right: sizes(4);
	}
}

.modal-close {
	position: absolute;
	right: sizes(3);
	top: sizes(3);
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;

	svg {
		width: 15px;
		height: 15px;
	}
}

.modal {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 3px;
	background: white;
	max-height: calc(100vh - 20px);
	overflow-y: scroll;
	min-height: 500px;
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
	transition: all .5s;

	transform: scale(0.9);
	
	.modal-body {
		padding: sizes(10);
	}
}
