.package-container {
	@include clearfix();
}

.width-100 {
	width: 100%;
}


.package-details {
	@include no-bullet();
	@include clearfix();
	display: block;
	position: relative;
	z-index: 2;
	color: colors("greyscale", 700);
	margin-top: sizes(2);

	> li {
		// color: white;
		float: left;
		font-size: 14px;
		// font-weight: 500;

		&:not(:first-child) {
			&:before {
				content: "\2022";
				position: relative;
				top: -2px;
				font-size: 8px;
				margin: 0 8px;
			}
		}

		a {
			text-decoration: underline;
			text-underline-position: under;
		}

		&.is-active {
			// color: white;
		}
	}
}


.core-package {

	.left {
		padding: sizes(5);
		position: relative;


		@include if-above("md") {
			width: 50%;
			padding: sizes(10);
			float: left;
		}

		&:after {
			content: "+";
			position: absolute;
			top: 50%;
			transform: translateY(50%) translateX(50%);
			right: 0;
			text-align: center;
			@include circle(50px);
			line-height: 50px;
			color: colors("greyscale", 500);
			font-size: 30px;
			background: white;
			box-shadow: 0 0px 1px rgba(00,00,0,0.4);
		}
	}

	.right {
		padding: sizes(5);
		background-color: colors("greyscale", 50);
		border-top: 1px solid colors("keyline");

		@include if-above("md") {
			float: left;
			padding: sizes(10);
			width: 50%;
			border-top: 0;
			overflow-y: scroll;
			border-left: 1px solid colors("keyline");
			
		}
	}
	
	h2 {
		color: colors("brand");
		font-size: 24px;
		margin-bottom: sizes(1);
	}

	.core-price {
		margin-bottom: sizes(8);
	}

	.package-features {
		@include no-bullet();
		@include clearfix();
		display: flex;
		flex-wrap: wrap;

		> li {
			display: block;
			margin-bottom: sizes(4);
			position: relative;
			line-height: 1.5;
			padding-left: sizes(8);

			> a {

				color: colors("greyscale", 500);

				&:hover {
					color: colors("brand");
					text-decoration: underline;
					text-underline-position: under;
				}
			}

			> svg {
				width: 30px;
				height: 30px;
				fill: colors("secondary");
				vertical-align: middle;
				display: inline-block;
				position: relative;
				left: 0;
				position: absolute;
				top: -4px;
				margin-right: sizes(2);
			}
		}
	}
}

.package-quantity {
	color: colors("greyscale", 600);
	font-size: 13px;
}

.package-sold-out {

	@include uppercase(0.1em);
	font-weight: 500;
	background: red;
	color: white;
	font-size: 10px;
	font-weight: 600;
	border-radius: 3px;
	display: inline-block;
	top: 15px;
	padding: 4px 10px;
}

.package-link {
	font-size: 12px;
	text-decoration: underline;
	text-underline-position: under;
	color: colors("greyscale", 500);
	margin-bottom: sizes(3);
	cursor: pointer;
}

.package-container-right {

	width: 50%;
	float: right;
	max-height: 450px;
	overflow-y: scroll;
	border-left: 1px solid colors("keyline");

	.package-category {
		background-color: colors("greyscale", 200);
		@include uppercase(0.1em);
		font-size: 10px;
		padding: sizes(2);
	}

	ul {
		@include no-bullet();
	}


}

.extras-heading {
	border-top: 1px solid colors("keyline");
	padding-bottom: sizes(3);
	font-weight: 500;
	font-size: 20px;
	width: 100%;
	padding-left: sizes(6);

	h3 {
		@include uppercase(0.1em);
		position: relative;
		font-size: 14px;
		color: colors("greyscale", 600);
		display: inline-block;
		top: -15px;
		padding:  0 10px;
		margin-left: -10px;
		background-color: white;
	}

}

.extras {
	padding: sizes(6);

	ul {
		@include no-bullet();
	}
}


.extras-list {

	display: flex;
	flex-wrap: wrap;



	.package-price {
		// border: 1px solid rgba(colors("brand"), 0.3);

		display: inline-block;
		right: 0;
		font-size: 18px;
		font-weight: 500;
		border-radius: 2px;
		line-height: 1;
	
	}

	.package-title {
		// margin-bottom: sizes(2);
		font-size: 18px;
		// color: colors("brand");
		font-weight: 500;
	}

	.package-description {
		font-size: 13px;
		margin-bottom: sizes(4);
		color: colors("greyscale", 600);
	}

	.package {
		width: 100%;
		position: relative;
		overflow: hidden;
		// background: colors("greyscale", 50);
		// border: 1px solid colors("keyline");
		// box-shadow: 0 1px 1px rgba(00,00,00,0.1), 0 0 0 1px rgba(00,00,00,0.03);
		// border-radius: 3px;
		&:not(:last-child) {
			border-bottom: 1px solid colors("keyline");


		}

		&:last-child {
			padding-bottom: 0;
		}
		// width: 33.33%;
		padding: sizes(4) 0;
	}
}