.section {
	padding: 60px 0;
	border-bottom: 1px solid colors("keyline");

	@include if-above("md") {
		padding: 100px 0;
	}

	.section-heading {
		font-weight: 600;
		font-size: 30px;

		@include if-above("md") {
			font-size: 40px;
		}
		// text-align: center;
		// margin-bottom: sizes(12);
	}

	.section-subheading {
		font-size: 18px;
		color: colors("greyscale", 700);
		max-width: 600px;
		margin: 0 auto;
	}

	.sub-section {
		padding: 50px 0;

		&:first-of-type {
			padding-top: 0;
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid colors("keyline");
		}

		&:last-of-type {
			padding-bottom: 0;
		}

		.sub-section-heading {
			// @include uppercase(0.1em);
			font-size: 25px;
			font-weight: 600;
			margin-bottom: sizes(6);
		}
	}
}

.divider {
	margin: 35px 0 50px 0;
	border-top: 1px solid colors("keyline");
}

#intro {
	padding: 100px 0;

}