.section {
	padding: 100px 0;
	border-bottom: 1px solid #eaeaea;

	.section-heading {
		font-weight: 600;
		font-size: 35px;
		// text-align: center;
		// margin-bottom: sizes(12);
	}

	.section-subheading {
		font-size: 18px;
		color: colors("greyscale", 700);
		max-width: 600px;
		margin: 0 auto;
	}

	.sub-section {
		margin-bottom: 60px;

		&:not(:last-of-type) {
			// border-bottom: 1px solid #ececec;
		}

		&:last-of-type {
			padding-bottom: 0;
		}

		.sub-section-heading {
			@include uppercase(0.1em);
			font-size: 20px;
			font-weight: 600;
			margin-bottom: sizes(4);
		}
	}
}