.stats-summary {
	@include no-bullet();
	
	width: 100%;
	text-align: center;
	margin-bottom: sizes(8);
	table-layout: fixed;

	display: flex;
	flex-wrap: wrap;

	@include if-above("md") {
		
	}

	> li {
		
		padding: sizes(4) 0;

		width: 50%;

		display: table-cell;

		@include if-above("md") {
			
		}

		&:not(:last-of-type) {
			border-right: 1px solid colors("keyline");
		}

		

		
	}
}

.stat {
			font-size: 50px;
			line-height: 1;
			font-weight: 300;
			color: colors("brand");
			// margin-bottom: sizes(2);
		}

.caption {
	@include uppercase(0.1em);
	font-size: 13px;
	// margin-bottom: sizes(2);
	color: colors("greyscale", 700);
}



.graph {
	padding: sizes(8);
	margin: 0;
}

.well {
	background-color: colors("greyscale", 100);
	border-radius: 10px;
	padding: sizes(10);
}


.panel-title {
	text-align: center;

	color: colors("greyscale", 700);
	margin-bottom: sizes(2);
}




