@import "_reset";
@import "_settings";
@import "mixins/mixins";
@import "helpers/helpers";

@import "_attendees";
@import "_button";
@import "_masthead";
@import "_label";
@import "_footer";
@import "_intro";
@import "_section";
@import "_team";
@import "_stats";
@import "_videos";
@import "_package";
@import "_panel";
@import "_photo";
@import "_modal";
@import "_tweet";
@import "_tabs";
@import "_tooltip";
@import "_verified";
@import "_navigation";
@import "_progress-bar";

.overflow-hidden {
	overflow: hidden;
}


.stat-icon {
	width: 60px;
	height: 60px;
	border-radius: 2px;
	margin: 0 auto;
	border: 1px solid colors("keyline");
	position: relative;

	svg, img {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		left: 50%;
	}
}

body {
	background-color: #f4f5f7;
}

body {
	font-family: "Roboto";
	font-weight: 300;
	color: colors("greyscale", 900);
}

iframe {
	vertical-align: middle;
}

.no-border {
	border: 0 !important;
}

p {
	line-height: 1.8;
}





















.packages-left {

}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}










.is-hidden {
	display: none;
}







.link {
	color: colors("brand");
	cursor: pointer;
	position: relative;
	display: inline-block;
	text-align: center;
	border-radius: 100px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid rgba(colors("brand"), 0.2);
	padding: sizes(2) sizes(6);

	&:visited {
		color: colors("brand");
	}

	&:after {
		content: "";
		border-radius: 2px;
		background-color: rgba(colors("brand"), 0.1);
		position: absolute;
		left: 0;
		width: 100%;
		height: 0;
		display: inline-block;
		transition: all .25s;
		border-radius: 100px;
		bottom: 0;
		z-index: -1;
	}

	&:hover {
		&:after {
			height: 100%;

		}
	}
}




.stat-panel {
	padding: sizes(10);
	text-align: center;

	h1 {
		color: colors("brand");
	}
}

.detail-heading {
	@include uppercase(0.1em);
	font-size: 12px;
	color: colors("greyscale", 500);
}










.package {
	h2 {
		font-weight: 400;
		color: colors("brand");
	}

	
}






.position-relative {
	position: relative;
}











h3 {
	font-weight: 400;
}




.avatar {
	@include circle(100px);
}

