$gutter: 20px;
$breakpoint: "md";

.columns {
	@include clearfix();
	margin-left: -($gutter / 2);
	margin-right: -($gutter / 2);
}

@for $i from 1 through 12 {
	.columns-#{$i} {
		padding: 0 $gutter / 2;

		@include if-below($breakpoint) {
			width: 100%;
			&:not(:last-of-type) {
				margin-bottom: $gutter;
			}
		}

		@include if-above($breakpoint) {
			float: left;
			width: $i * (100% / 12);
			margin-bottom: $gutter;
		}
	}

	@each $name, $value in $breakpoints {

		.columns-#{$i}-#{$name} {
			@include if-below($value) {
				float: left;
				width: $i * (100% / 12);
			}
		}
	}
}